body{
    background-image: url('menu.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
.menu{
    margin-top: 3vh;
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
}
.btn{
    width: 100%;
    margin-top: 1vh;
    margin-bottom: 1vh; 
}
.chararea{
    margin-top: 1vh;
    margin-left: 30vw;
    margin-right: 30vw;
    width: 40vw;
}
.info{
    margin-top: 15vh;
    margin-bottom: 5vh;
}
.nama{
    font-size: 5vw;
    color: white;
}
#char{
    width: 60%;
}
